In [1]:
import pandas as pd

In [2]:
trial_balance = pd.read_excel("Vinatics 2020 Trial Balance.xlsx")
trial_balance.head()

,Account type,Account Class,Account Code,Account name,Opening Balance,Closing Balance
0,Assets,Receivables,20000050,Customer invoices,3.945206e+05,8.145908e+04
1,Assets,Receivables,20000051,Credit notes,0.000000e+00,0.000000e+00
2,Assets,Receivables,20000000,Receivables 1,5.439532e+07,5.872397e+07
3,Assets,Receivables,20000021,Receivables 2,1.038470e+04,8.362068e+03
4,Assets,Receivables,20000002,Receivables 3,-2.898225e+04,-1.924322e+05

In [3]:
trial_balance['Account type'].unique()

array(['Assets', 'Liabilities', 'Equity', 'Revenue', 'Expenses'],
      dtype=object)

In [4]:
assets = trial_balance[trial_balance['Account type'] == 'Assets']
liabilities = trial_balance[trial_balance['Account type'] == 'Liabilities']
equity = trial_balance[trial_balance['Account type'] == 'Equity']
expense = trial_balance[trial_balance['Account type'] == 'Expenses']
revenue = trial_balance[trial_balance['Account type'] == 'Revenue']

In [5]:
assets_new = assets.copy()
assets_new = assets_new.drop('Account Code', axis=1)
assets_new = assets_new.groupby(by = ['Account Class']).sum()
assets_new = assets_new.sort_values(by = ['Closing Balance'])
assets_new = pd.DataFrame(assets_new.to_records())
total_assets = {'Account Class': 'Total Assets', 'Opening Balance': assets_new['Opening Balance'].sum(), 'Closing Balance':assets_new['Closing Balance'].sum()}
assets_new = assets_new.append(total_assets, ignore_index = True)
assets_new = assets_new.append(pd.Series(), ignore_index = True)
assets_new

                     Account Class  Opening Balance  Closing Balance
0   Prepayments and accrued income     1.485500e+05    -2.234837e+05
1                         Payables     5.960464e-08     6.053597e-08
2               Deferred tax asset     5.969530e+06     5.969530e+06
3                Intangible assets     2.592128e+07     1.658387e+07
4                        Inventory     4.545933e+07     4.053468e+07
5    Property, plant and equipment     4.347904e+07     4.258911e+07
6       Investment in Subsidiaries     7.579530e+07     7.579530e+07
7                      Receivables     9.936293e+07     8.245070e+07
8        Cash and cash equivalents     1.847369e+08     1.166541e+08
9                     Total Assets     4.808729e+08     3.803538e+08
10                             NaN              NaN              NaN

In [6]:
liabilities_new = liabilities.copy()
liabilities_new = liabilities_new.drop('Account Code', axis=1)
liabilities_new = liabilities_new.groupby(by = ['Account Class']).sum()
liabilities_new = liabilities_new.sort_values(by = ['Closing Balance'])
liabilities_new = pd.DataFrame(liabilities_new.to_records())
liabilities_new[['Opening Balance','Closing Balance']] *= -1
total_liabilities = {'Account Class': 'Total Liabilities', 'Opening Balance': liabilities_new['Opening Balance'].sum(), 'Closing Balance':liabilities_new['Closing Balance'].sum()}
liabilities_new = liabilities_new.append(total_liabilities, ignore_index = True)
liabilities_new = liabilities_new.append(pd.Series(), ignore_index = True)
liabilities_new

                          Account Class  Opening Balance  Closing Balance
0     Provision for redundancy payments     1.954826e+06     1.726539e+06
1              Deferred tax liabilities     1.477530e+05     1.455030e+05
2                  Contract liabilities     8.178934e+04     1.806867e+04
3                              Accruals     4.292815e-10     2.954152e-10
4                     Other liabilities    -0.000000e+00    -0.000000e+00
5  Allowance for Expected credit losses    -8.813645e+05    -1.563310e+06
6                              Payables     1.404853e+08    -2.263388e+07
7                     Total Liabilities     1.417883e+08    -2.230708e+07
8                                   NaN              NaN              NaN

In [7]:
equity_new = equity.copy()
equity_new = equity_new.drop('Account Code', axis=1)
equity_new = equity_new.groupby(by = ['Account Class']).sum()
equity_new = equity_new.sort_values(by = ['Closing Balance'])
equity_new = pd.DataFrame(equity_new.to_records())
equity_new[['Opening Balance','Closing Balance']] *= -1
total_equity = {'Account Class': 'Total Equity', 'Opening Balance': equity_new['Opening Balance'].sum(), 'Closing Balance':equity_new['Closing Balance'].sum()}
equity_new = equity_new.append(total_equity, ignore_index = True)
equity_new = equity_new.append(pd.Series(), ignore_index = True)
equity_new

            Account Class  Opening Balance  Closing Balance
0           Share capital     2.080000e+07      20800000.00
1           Legal reserve     4.160000e+06       4160000.00
2    Revaluation reserve      1.568912e+05        156891.16
3  Profit & loss reserve      1.641682e+08     -47567758.12
4            Total Equity     1.892851e+08     -22450866.96
5                     NaN              NaN              NaN

In [8]:
expense_new = expense.copy()
expense_new = expense_new.groupby(by = ['Account Class']).sum()
expense_new = pd.DataFrame(expense_new.to_records())
expense_new[['Opening Balance','Closing Balance']] *= -1
total_expense = {'Account Class': 'Total Expense', 'Opening Balance': expense_new['Opening Balance'].sum(), 'Closing Balance':expense_new['Closing Balance'].sum()}
expense_new = expense_new.append(total_expense, ignore_index = True)
expense_new

,Account Class,Account Code,Opening Balance,Closing Balance
0,Cost of sales,1.765586e+10,-7.865620e+08,-1.121555e+09
1,Depreciation and amortization,2.251215e+09,-3.195384e+07,-5.145651e+07
2,Expected credit loss,7.035596e+08,-1.818721e+07,-1.818721e+07
3,Foreign exchange losses,1.408002e+08,-9.234662e+02,-1.039698e+03
4,Income tax expense,7.045000e+08,-7.025088e+07,-7.025088e+07
5,Interest expense,5.632011e+08,-4.811872e+06,-7.887613e+06
6,Inventories,5.189368e+09,-4.978663e+08,-7.918087e+08
7,Other operating expenses,3.803942e+09,-1.398089e+07,-2.230319e+07
8,Personnel costs,3.227170e+09,-1.185322e+08,-1.857536e+08
9,Rentals,1.405304e+09,-1.561787e+07,-2.686428e+07
10,Total Expense,NaN,-1.557764e+09,-2.296068e+09

In [9]:
revenue_new = revenue.copy()
revenue_new = revenue_new.groupby(by = ['Account Class']).sum()
revenue_new = pd.DataFrame(revenue_new.to_records())
revenue_new[['Opening Balance','Closing Balance']] *= -1
total_revenue = {'Account Class': 'Total Revenue', 'Opening Balance': revenue_new['Opening Balance'].sum(), 'Closing Balance':revenue_new['Closing Balance'].sum()}
revenue_new = revenue_new.append(total_revenue, ignore_index = True)
revenue_new

,Account Class,Account Code,Opening Balance,Closing Balance
0,Finance income,4.820016e+08,1.173794e+07,1.675581e+07
1,Foreign exchange gains,1.205004e+08,1.729354e+02,2.147811e+02
2,Other income,2.164538e+09,3.906369e+07,4.467263e+07
3,Revenue from contract with customers,3.001565e+09,1.641933e+09,2.647321e+09
4,Sales of inventories,5.608020e+08,1.482809e+07,1.243015e+07
5,Total Revenue,NaN,1.707563e+09,2.721180e+09

In [10]:
net_income = revenue_new.iloc[[-1]].append(expense_new.iloc[[-1]], ignore_index=True)
net_income_row = {'Account Class': 'Net Income', 'Opening Balance': net_income['Opening Balance'].sum(), 'Closing Balance':net_income['Closing Balance'].sum()}
net_income = net_income.append(net_income_row, ignore_index=True)
net_income

   Account Class  Account Code  Opening Balance  Closing Balance
0  Total Revenue           NaN     1.707563e+09     2.721180e+09
1  Total Expense           NaN    -1.557764e+09    -2.296068e+09
2     Net Income           NaN     1.497994e+08     4.251118e+08

In [11]:
total_liab_and_equity = liabilities_new.iloc[[-2]].append(equity_new.iloc[[-2]], ignore_index=True)
total_liab_and_equity_row = {'Account Class': 'Total Liability and Equity', 'Opening Balance': total_liab_and_equity['Opening Balance'].sum(), 'Closing Balance':total_liab_and_equity['Closing Balance'].sum()}
total_liab_and_equity = total_liab_and_equity.append(total_liab_and_equity_row, ignore_index=True)
total_liab_and_equity

                Account Class  Opening Balance  Closing Balance
0           Total Liabilities     1.417883e+08    -2.230708e+07
1                Total Equity     1.892851e+08    -2.245087e+07
2  Total Liability and Equity     3.310735e+08    -4.475795e+07

In [12]:
total_liab_equity_and_income = total_liab_and_equity.iloc[[-1]].append(net_income.iloc[[-1]], ignore_index=True, sort=False)
total_liab_equity_and_income_row = {'Account Class': 'Total Liability, Equity and Income', 'Opening Balance': total_liab_equity_and_income['Opening Balance'].sum(), 'Closing Balance':total_liab_equity_and_income['Closing Balance'].sum()}
total_liab_equity_and_income = total_liab_equity_and_income.append(total_liab_equity_and_income_row, ignore_index=True)
total_liab_equity_and_income

,Account Class,Opening Balance,Closing Balance,Account Code
0,Total Liability and Equity,3.310735e+08,-4.475795e+07,NaN
1,Net Income,1.497994e+08,4.251118e+08,NaN
2,"Total Liability, Equity and Income",4.808729e+08,3.803538e+08,NaN

In [13]:
balance_sheet = assets_new.append([liabilities_new, equity_new, total_liab_equity_and_income], ignore_index=True, sort=False)
balance_sheet['Change Amount'] = balance_sheet['Closing Balance'] - balance_sheet['Opening Balance']
balance_sheet['Change %'] = balance_sheet['Change Amount']/balance_sheet['Opening Balance']
balance_sheet = balance_sheet.drop('Account Code', axis=1)
balance_sheet

,Account Class,Opening Balance,Closing Balance,Change Amount,Change %
0,Prepayments and accrued income,1.485500e+05,-2.234837e+05,-3.720336e+05,-2.504435
1,Payables,5.960464e-08,6.053597e-08,9.313226e-10,0.015625
2,Deferred tax asset,5.969530e+06,5.969530e+06,0.000000e+00,0.000000
3,Intangible assets,2.592128e+07,1.658387e+07,-9.337416e+06,-0.360222
4,Inventory,4.545933e+07,4.053468e+07,-4.924648e+06,-0.108331
5,"Property, plant and equipment",4.347904e+07,4.258911e+07,-8.899336e+05,-0.020468
6,Investment in Subsidiaries,7.579530e+07,7.579530e+07,0.000000e+00,0.000000
7,Receivables,9.936293e+07,8.245070e+07,-1.691224e+07,-0.170207
8,Cash and cash equivalents,1.847369e+08,1.166541e+08,-6.808284e+07,-0.368539
9,Total Assets,4.808729e+08,3.803538e+08,-1.005191e+08,-0.209035
10,NaN,NaN,NaN,NaN,NaN
11,Provision for redundancy payments,1.954826e+06,1.726539e+06,-2.282871e+05,-0.116781
12,Deferred tax liabilities,1.477530e+05,1.455030e+05,-2.249974e+03,-0.015228
13,Contract liabilities,8.178934e+04,1.806867e+04,-6.372067e+04,-0.779083
14,Accruals,4.292815e-10,2.954152e-10,-1.338663e-10,-0.311838
15,Other liabilities,-0.000000e+00,-0.000000e+00,0.000000e+00,NaN
16,Allowance for Expected credit losses,-8.813645e+05,-1.563310e+06,-6.819459e+05,0.773739
17,Payables,1.404853e+08,-2.263388e+07,-1.631192e+08,-1.161112
18,Total Liabilities,1.417883e+08,-2.230708e+07,-1.640954e+08,-1.157327
19,NaN,NaN,NaN,NaN,NaN
20,Share capital,2.080000e+07,2.080000e+07,0.000000e+00,0.000000
21,Legal reserve,4.160000e+06,4.160000e+06,0.000000e+00,0.000000
22,Revaluation reserve,1.568912e+05,1.568912e+05,0.000000e+00,0.000000
23,Profit & loss reserve,1.641682e+08,-4.756776e+07,-2.117360e+08,-1.289750
24,Total Equity,1.892851e+08,-2.245087e+07,-2.117360e+08,-1.118609
25,NaN,NaN,NaN,NaN,NaN
26,Total Liability and Equity,3.310735e+08,-4.475795e+07,-3.758314e+08,-1.135190
27,Net Income,1.497994e+08,4.251118e+08,2.753123e+08,1.837873
28,"Total Liability, Equity and Income",4.808729e+08,3.803538e+08,-1.005191e+08,-0.209035

In [14]:
writer = pd.ExcelWriter('Balance Sheet Analysis.xlsx', engine = 'xlsxwriter')
balance_sheet.to_excel(writer, sheet_name='SOFP', index=False, startrow=3)

workbook = writer.book
balance_sheet_sheet = writer.sheets['SOFP']

#Excel Formats
money_format = workbook.add_format({'num_format': '_(* #,##0.00_);_(* (#,##0.00);_(* "-"??_);_(@_)','align': 'vjustify','valign': 'right'})
percent_format = workbook.add_format({'num_format': '0%','align': 'vjustify','valign': 'right'})
header_format = workbook.add_format({'bold': True,'valign': 'top','font_size':14})

#Format the income statement sheet
balance_sheet_sheet.set_zoom(110)
balance_sheet_sheet.write(0, 0, 'VINATICS', header_format)
balance_sheet_sheet.write(1, 0, 'SOFP ANALYSIS', header_format)
balance_sheet_sheet.set_column('A:A', 55)
balance_sheet_sheet.set_column('B:D', 30, money_format)
balance_sheet_sheet.set_column('E:E', 15, percent_format)

writer.save()

import os
os.system('start "excel.exe" "Balance Sheet Analysis.xlsx"')

0